.sidebar {
  border-right: 1px solid black;
  .appName {
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid black;
  }

  .controls {
    border-bottom: 1px solid black;
    ul {
      list-style-type: none;
      padding: 1rem 0;
      button {
        background-color: transparent;
        border: 0;
        width: 100%;
        &:hover {
          background-color: rgb(202, 200, 200);
        }
      }
    }
  }

  .projheading {
    display: flex;
    padding: 1rem;
    gap: 7px;
    border-bottom: 1px solid black;
    h1{
        white-space: nowrap;
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      height: fit-content;
      font-size: 2.5rem;
      align-self: center;
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 50%;
      border: 0;
      background-color: transparent;
      color: rgb(188, 188, 188);

      &:hover {
        color: rgb(133, 132, 132);
      }
      &:active {
        color: rgb(85, 85, 85);
        scale: 0.98;
      }
    }
  }
}
